.tag-add{
    position: relative;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid black;
}
.tag-add h2, .tag-delete h2{
    margin-bottom: 1rem;
}
.inputs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}
.tag-add form input:last-of-type{
    margin: 0 auto;
}
.tag-delete .return{
    position: absolute;
    right: 20px;
    bottom: 32px;
    width: 30px;
    height: 30px;
    background-color: rgba(20, 24, 20, 0.226);
}
.tag-delete select{
    margin-bottom: 1rem;
}